*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
  height: 600px;
  width: 700px;
  background-color: lightgray;
  padding: 20px;
}
#header{
  height: 75px;
  width: auto;
  background-color: rgb(11, 224, 160);
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}
a{
  color: white;
  right: 1px;
  font-size: 14px;
}
#logo{
  margin-top: 10px;
}
#logo_text{
  font-size: 25px;
  font-family: monospace;
  padding-right: 15px;
  margin-bottom: 10px;

}
#main_content{
  height: 400px;
  width: auto;
  background-color: #FFFF99;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar{
  height: 344px;
  width: 200px;
  background-color: #404040;
float: left;
}
.sidebar_text{
  color: white;
}
.body_text{
  color: white;
  font-size: 15px;
}
.topRow{
  height: 100px;
  width: 100px;
  background-color: #404040;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
}

.middleRow{
  height: 100px;
  width: 203px;
  background-color: #404040;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

}
.bottomRow{
  height: 100px;
  width: 450px;
  background-color: #404040;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
#footer{
  height: 75px;
  width: 700px;
  background-color: rgb(11, 224, 160);
  margin-top: 10px;
}
